WCF/WCF/OtelUygulamasi/OtelUygulamasi/Service References/ServiceReference1/ServiceLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MusteriBilgileri">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CikisTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Cinsiyet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GirisTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MusteriId" type="xs:int" />
      <xs:element minOccurs="0" name="OdaNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Soyadi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TcNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ucret" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MusteriBilgileri" nillable="true" type="tns:MusteriBilgileri" />
  <xs:complexType name="KullaniciKayitEt">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GirisTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="KullaniciAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KullaniciSifre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="soyad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KullaniciKayitEt" nillable="true" type="tns:KullaniciKayitEt" />
  <xs:complexType name="PersonelBilgileri">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bolum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CikisTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Cinsiyet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GirisTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Maas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonelId" type="xs:int" />
      <xs:element minOccurs="0" name="Soyad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TcNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonelBilgileri" nillable="true" type="tns:PersonelBilgileri" />
  <xs:complexType name="MutfakU">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fiyat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GelisTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Kategori" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MutfakUId" type="xs:int" />
      <xs:element minOccurs="0" name="UrunAdi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MutfakU" nillable="true" type="tns:MutfakU" />
  <xs:complexType name="OdaU">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fiyat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GelisTarihi" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Kategori" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OdaUId" type="xs:int" />
      <xs:element minOccurs="0" name="UrunAdi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OdaU" nillable="true" type="tns:OdaU" />
</xs:schema>