WCF/WCF/OtelUygulamasi/OtelUygulamasi/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiceLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_UpdateMusteriB_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMusteriB" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMusteriB_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMusteriBResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMusteriB_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMusteriB" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMusteriB_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMusteriBResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_KullaniciKayit_InputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciKayit" />
  </wsdl:message>
  <wsdl:message name="IService1_KullaniciKayit_OutputMessage">
    <wsdl:part name="parameters" element="tns:KullaniciKayitResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Personelekle_InputMessage">
    <wsdl:part name="parameters" element="tns:Personelekle" />
  </wsdl:message>
  <wsdl:message name="IService1_Personelekle_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonelekleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePersonelB_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonelB" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePersonelB_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonelBResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePersonelB_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonelB" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePersonelB_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonelBResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMutfakU_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMutfakU" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteMutfakU_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMutfakUResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_MutfakUekle_InputMessage">
    <wsdl:part name="parameters" element="tns:MutfakUekle" />
  </wsdl:message>
  <wsdl:message name="IService1_MutfakUekle_OutputMessage">
    <wsdl:part name="parameters" element="tns:MutfakUekleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMutfakU_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMutfakU" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMutfakU_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMutfakUResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OdaUekle_InputMessage">
    <wsdl:part name="parameters" element="tns:OdaUekle" />
  </wsdl:message>
  <wsdl:message name="IService1_OdaUekle_OutputMessage">
    <wsdl:part name="parameters" element="tns:OdaUekleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateOdaU_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOdaU" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateOdaU_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOdaUResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteOdaU_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOdaU" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteOdaU_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOdaUResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="UpdateMusteriB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateMusteriB" message="tns:IService1_UpdateMusteriB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateMusteriBResponse" message="tns:IService1_UpdateMusteriB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMusteriB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteMusteriB" message="tns:IService1_DeleteMusteriB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteMusteriBResponse" message="tns:IService1_DeleteMusteriB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KullaniciKayit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/KullaniciKayit" message="tns:IService1_KullaniciKayit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/KullaniciKayitResponse" message="tns:IService1_KullaniciKayit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Personelekle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Personelekle" message="tns:IService1_Personelekle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PersonelekleResponse" message="tns:IService1_Personelekle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePersonelB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletePersonelB" message="tns:IService1_DeletePersonelB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletePersonelBResponse" message="tns:IService1_DeletePersonelB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonelB">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdatePersonelB" message="tns:IService1_UpdatePersonelB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdatePersonelBResponse" message="tns:IService1_UpdatePersonelB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMutfakU">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteMutfakU" message="tns:IService1_DeleteMutfakU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteMutfakUResponse" message="tns:IService1_DeleteMutfakU_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MutfakUekle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/MutfakUekle" message="tns:IService1_MutfakUekle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/MutfakUekleResponse" message="tns:IService1_MutfakUekle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMutfakU">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateMutfakU" message="tns:IService1_UpdateMutfakU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateMutfakUResponse" message="tns:IService1_UpdateMutfakU_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OdaUekle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OdaUekle" message="tns:IService1_OdaUekle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OdaUekleResponse" message="tns:IService1_OdaUekle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOdaU">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateOdaU" message="tns:IService1_UpdateOdaU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateOdaUResponse" message="tns:IService1_UpdateOdaU_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOdaU">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteOdaU" message="tns:IService1_DeleteOdaU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteOdaUResponse" message="tns:IService1_DeleteOdaU_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateMusteriB">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateMusteriB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMusteriB">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteMusteriB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KullaniciKayit">
      <soap:operation soapAction="http://tempuri.org/IService1/KullaniciKayit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Personelekle">
      <soap:operation soapAction="http://tempuri.org/IService1/Personelekle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePersonelB">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletePersonelB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePersonelB">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdatePersonelB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMutfakU">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteMutfakU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MutfakUekle">
      <soap:operation soapAction="http://tempuri.org/IService1/MutfakUekle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMutfakU">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateMutfakU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OdaUekle">
      <soap:operation soapAction="http://tempuri.org/IService1/OdaUekle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOdaU">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateOdaU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOdaU">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteOdaU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceLayer/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>