WCF/WCF/OtelUygulamasi/OtelUygulamasi/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServiceLayer" />
  <xs:element name="UpdateMusteriB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="b" nillable="true" type="q1:MusteriBilgileri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMusteriBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMusteriBResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMusteriB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="b" nillable="true" type="q2:MusteriBilgileri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMusteriBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMusteriBResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciKayit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="k" nillable="true" type="q3:KullaniciKayitEt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KullaniciKayitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KullaniciKayitResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Personelekle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="p" nillable="true" type="q4:PersonelBilgileri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonelekleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PersonelekleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonelB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="p" nillable="true" type="q5:PersonelBilgileri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonelBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePersonelBResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonelB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="p" nillable="true" type="q6:PersonelBilgileri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonelBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePersonelBResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMutfakU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="m" nillable="true" type="q7:MutfakU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMutfakUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteMutfakUResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MutfakUekle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="m" nillable="true" type="q8:MutfakU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MutfakUekleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MutfakUekleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMutfakU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="m" nillable="true" type="q9:MutfakU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMutfakUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateMutfakUResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OdaUekle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="o" nillable="true" type="q10:OdaU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OdaUekleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OdaUekleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOdaU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="o" nillable="true" type="q11:OdaU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOdaUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOdaUResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOdaU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServiceLayer" minOccurs="0" name="o" nillable="true" type="q12:OdaU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOdaUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteOdaUResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>